*.slo
*.lo
*.o

*.d

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyd
*.pyo
*.pyc
*.pyd
*.egg-info/
dist/
build/
*.egg
*.spec

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

.python-version

*.o
*.a
*.so
*.exe
*.test
*.prof
*.user

pdf
zappy_server
zappy_server/zappy_server
